<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>DbnJuly.ipa</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.vodacom.boxfusion.vdj2018</string>
					<key>bundle-version</key>
					<string>1.0.0</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>VDJ 2018 Customer Engagement</string>
                    <key>subtitle</key>
                    <string>VDJ 2018 Customer Engagement</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
