<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">

<head>

    <meta charset="utf-8">
    <title>Vodacom Durban July Customer Engagement App</title>
    <meta name="description" content="The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event, latest updates and notifications.">
    <meta name="author" content="Boxfusion">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Vodacom Durban July Customer Engagement App">
    <meta itemprop="description" content="The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event, latest updates and notifications.">
    <meta itemprop="image" content="/img/banner.png">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="Vodacom Durban July Customer Engagement App">
    <meta name="twitter:description" content="The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event, latest updates and notifications.">
    <meta name="twitter:image" content="/img/banner.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Open Graph data -->
    <meta property="og:title" content="Vodacom Durban July Customer Engagement App" />
    <meta property="og:description" content="The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event, latest updates and notifications.">
    <meta property="og:image" content="/img/banner.png" />
    <meta property="og:url" content="https://durbanjuly-comingsoon.herokuapp.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/coming-soon-website.css">

    <link rel="icon" type="image/png" href="favicon.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>

    <div class="section hero">
        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <img src="/img/logo.png" style="width: 80px;margin-bottom: 20px;" />
                    <h4 class="hero-heading" style="margin-bottom: 30px;">
                        The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience.
                    </h4>
                    <img src="/img/google-play-badge.png" height="60" style="display: inline-block; margin-right: 10px;" />
                    <img src="/img/app-store-badge.png" height="60" style="display: inline-block;" />
                </div>
                <div class="one-half column phones" style="margin-top: 60px;">
                    <img class="phone" src="/img/iphone.png">
                    <img class="phone" src="/img/iphone.png">
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <img src="/img/timetable.png" width="50" />
                    <h5 style="margin-top:10px;">Programme</h5>
                    <p>
                        The electronic programme allows you to have a handy detailed view of the proceedings for the event right in your pocket for
                        quick access.
                    </p>
                </div>
                <div class="four columns">
                    <img src="/img/brain.png" width="50" />
                    <h5 style="margin-top:10px;">Aid Memoire</h5>
                    <p>
                        The electronic aide memoire provides a summarised view of the proceedings for the event so that you don't miss those events
                        that you are looking forward to.
                    </p>
                </div>
                <div class="four columns">
                    <img src="/img/technical-support.png" width="50" />
                    <h5 style="margin-top:10px;">Event Team</h5>
                    <p>
                        Need help or assistant on the day of the event. Our team section allows you to get in contact with our specialised team who
                        are ready to help you in a heartbeat.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <img src="/img/windy-weather.png" width="50" />
                    <h5 style="margin-top:10px;">Weather Forecast</h5>
                    <p>
                        Make sure that you don't get caught in the rain or dressed not dressed warm enough on those chilly days. The weather forecast
                        is there to keep you ready.
                    </p>
                </div>
                <div class="four columns">
                    <img src="/img/traveler.png" width="50" />
                    <h5 style="margin-top:10px;">Arrivals</h5>
                    <p>
                        Great hospitality from the moment you land. From the moment you arrive at the airpot we will be there to greet you and get
                        you onboarded about the event.
                    </p>
                </div>
                <div class="four columns">
                    <img src="/img/golf-bag.png" width="50" />
                    <h5 style="margin-top:10px;">Golf</h5>
                    <p>
                        We have made it easy to participate and keep track of the great golfing event through our golf portal. Keep scores, find
                        out tee off times and about the course.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <img src="/img/volunteering.png" width="50" />
                    <h5 style="margin-top:10px;">CSI</h5>
                    <p>
                        Find out how you can be part of giving back to our communities and making our country a better place.
                    </p>
                </div>
                <div class="four columns">
                    <img src="/img/elephant.png" width="50" />
                    <h5 style="margin-top:10px;">Safari Experiences</h5>
                    <p>
                        We have an awesome selection of safari experiences to get you in touch with all the nature that our country has to offer.
                    </p>
                </div>
                <div class="four columns">
                    <img src="/img/push-notifications.png" width="50" />
                    <h5 style="margin-top:10px;">Inbox</h5>
                    <p>
                        We will keep you up to date with real time events and notifications to make sure that you don't miss a single moment of action.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <img src="/img/restaurant.png" width="50" />
                    <h5 style="margin-top:10px;">Dinner</h5>
                    <p>
                        What would an event be without some great food and company. You can find out more about what is on the menu and pick your
                        favourite dishes.
                    </p>
                </div>
                <div class="four columns">
                    <img src="/img/customer.png" width="50" />
                    <h5 style="margin-top:10px;">Customer Engagement</h5>
                    <p>
                        We have a great write up on our amazing customer engagement platforms that are targeted at organisations and citizens using
                        various mobile platforms.
                    </p>
                </div>
                <div class="four columns">
                    <img src="/img/internet.png" width="50" />
                    <h5 style="margin-top:10px;">IOT</h5>
                    <p>
                        We have packaged some great and beautiful resources with our take on IOT and everything digital that you will find interesting
                        and empowering.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns" style="text-align: center; padding-top: 120px;">
                    <img src="/img/logo.png" style="width: 80px;margin-bottom: 20px;" />
                </div>
            </div>
        </div>

</body>

</html>