<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">

<head>

    <meta charset="utf-8">
    <title>Vodacom Durban July Customer Engagement App</title>
    <meta name="description" content="The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event and the latest updates and notifications.">
    <meta name="author" content="Boxfusion">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Vodacom Durban July Customer Engagement App">
    <meta itemprop="description" content="The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event and the latest updates and notifications.">
    <meta itemprop="image" content="http://www.example.com/image.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="Vodacom Durban July Customer Engagement App">
    <meta name="twitter:description" content="The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event and the latest updates and notifications.">
    <meta name="twitter:image" content="http://www.example.com/image.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Open Graph data -->
    <meta property="og:title" content="Vodacom Durban July Customer Engagement App" />
    <meta property="og:description" content="The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event and the latest updates and notifications.">
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:url" content="http://www.example.com/" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/coming-soon-website.css">

    <link rel="icon" type="image/png" href="favicon.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>

    <div class="section hero">
        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <h4 class="hero-heading">
                        The official mobile applicaiton for the Vodacom Durban July Customer Engagement experience. Information about the event and
                        the latest updates and notifications.
                    </h4>
                    <form>
                        <div class="row">
                            <div class="six columns">
                                <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
                            </div>
                            <div class="six columns">
                                <input class="button-primary" type="submit" value="SUBSCRIBE">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="one-half column phones">
                    <img class="phone" src="/img/iphone.png">
                    <img class="phone" src="/img/iphone.png">
                </div>
            </div>
        </div>
    </div>

    <div class="section values">
        <div class="container">
            <div class="row">
                <div class="one-third column value">
                    <h2 class="value-multiplier">67%</h2>
                    <h5 class="value-heading">Purchase Increase</h5>
                    <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
                </div>
                <div class="one-third column value">
                    <h2 class="value-multiplier">90%</h2>
                    <h5 class="value-heading">Multi-device Users</h5>
                    <p class="value-description">Most of the world accesses the internet on multiple devices.</p>
                </div>
                <div class="one-third column value">
                    <h2 class="value-multiplier">66%</h2>
                    <h5 class="value-heading">Sad Users</h5>
                    <p class="value-description">Percentage of users that are frustrated with page load times.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section get-help">
        <div class="container">
            <h3 class="section-heading">Need help getting started?</h3>
            <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you want to learn more, just visit
                the documentation!</p>
            <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
        </div>
    </div>

    <div class="section categories">
        <div class="container">
            <h3 class="section-heading">Responsive Images</h3>
            <p class="section-description">Skeleton images sit easily in grid with .u-max-full-width class. I suggest exploring solution to serving different
                images based on device size.</p>
            <div class="row">
                <div class="one-half column category">
                    <img class="u-max-full-width" src="/img/placeholder.png">
                </div>
                <div class="one-half column category">
                    <img class="u-max-full-width" src="/img/placeholder.png">
                </div>
            </div>
        </div>
    </div>

</body>

</html>