<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">

<head>

    <meta charset="utf-8">
    <title>Vodacom Durban July Customer Engagement App</title>
    <meta name="description" content="The official mobile application for the Vodacom Durban July Customer Engagement experience. Information about the event, latest updates and notifications.">
    <meta name="author" content="Boxfusion">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Vodacom Durban July Customer Engagement App">
    <meta itemprop="description" content="The official mobile application for the Vodacom Durban July Customer Engagement experience. Information about the event, latest updates and notifications.">
    <meta itemprop="image" content="https://durbanjuly-comingsoon.herokuapp.com/img/banner.png">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="Vodacom Durban July Customer Engagement App">
    <meta name="twitter:description" content="The official mobile application for the Vodacom Durban July Customer Engagement experience. Information about the event, latest updates and notifications.">
    <meta name="twitter:image" content="https://durbanjuly-comingsoon.herokuapp.com/img/banner.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Open Graph data -->
    <meta property="og:title" content="Vodacom Durban July Customer Engagement App" />
    <meta property="og:description" content="The official mobile application for the Vodacom Durban July Customer Engagement experience. Information about the event, latest updates and notifications.">
    <meta property="og:image" content="https://durbanjuly-comingsoon.herokuapp.com/img/banner.png" />
    <meta property="og:url" content="https://durbanjuly-comingsoon.herokuapp.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/coming-soon-website.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body>

    <div class="section hero" style="margin-top: 10px; margin-bottom: 10px; padding-top: 40px; padding-bottom: 12px; height: inherit;">
        <div class="container">
            <div class="row">
                <div class="twelve column">
                    <h3 style="font-weight: 900;">Keep Score</h3>
                    <h4 class="hero-heading" style="margin-bottom: 30px;">
                        Information about the Keep Score below.
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="section" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="twelve columns" style="text-align: left;">
                    <h4>
                        We have made it easy to participate and keep track of the great golfing event through our golf portal. Keep scores, find
                        out tee off times and about the course.
                    </h4>
                    <img src="/img/golf-bag.png" width="50" style="margin-top: 30px;" />
                </div>
            </div>
        </div>

</body>

</html>